{% load static %}
<!-- ##### Header Area Start ##### -->
<header class="header-area">

        <!-- Search Area -->
        {% include 'partials/_search.html' %}

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'home' %}"><img  width="200px" src="{% static 'img/core-img/to_ligado.svg' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'market' %}">Market</a></li>
                                    {% if not user.is_authenticated %}
                                    <li><a href="{% url 'register' %}">Cadastro</a></li>
                                    <li><a href="{% url 'login' %}">Entrar</a></li>
                                    {% else %}
                                    {% if user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'my_quotes' %}">Minhas ações</a></li>
                                    <li><a href="{% url 'profile' %}">Perfil</a></li>
                                    <li><a href="{% url 'logout' %}">Sair</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Formulario de busca -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <!-- Formulario de busca -->

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->