{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        {% if user.first_name %}
                        <h3>Olá {{ user.first_name }}!</h3>
                        {% else %}
                        <h3>Olá!</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="" alt="">
                        <img src="" alt="">
                        <div class="receipe-content">
                            <a href="">
                                <a href="" type='button' class='btn btn-info'>Editar</a>
                                <a href="" type='button' class='btn btn-danger'>Esquecer</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

{% endblock %}